<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJgV_Ft3AsH_I28AGR8AVPyhLFwnLmGM4</string>
	<key>GCM_SENDER_ID</key>
	<string>230684114508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shtodo.net.shtodo</string>
	<key>PROJECT_ID</key>
	<string>sh-todo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sh-todo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230684114508:ios:1c757b047d92f9c3e57ee9</string>
</dict>
</plist>